.custom-button {
  background-color: black;
  color: white;
  padding: 18px 90px;
  font-size: 18px;
  border: 1px solid black;
  letter-spacing: 2px;
}
.custom-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
