.menu-item{
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    overflow: hidden;
}
.menu-item:hover{
    cursor: pointer;
}
.large{
    height: 390px;
}
.backgroudImage{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.backgroudImage:hover{
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25,0.45,0.45,0.95)   ;
}

.content{
    background-color: antiquewhite;
    opacity: 0.7;
    border: 1px solid black;
    /* height: 90px; */
    padding:  25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

}
.content h1{
    margin: 0;
}