.group {
  position: relative;
  margin: 45px 0;
}
.form-input {
  outline: none;
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}
.form-input:hover {
  cursor: pointer;
}
