@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  padding: 20px 60px;
  font-family: "Bebas Neue", cursive, sans-serif;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: black;
}
